<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $.ajax({
        url: "http://localhost:8080/windengine/001/json"
    }).then(function(data) {
        $('#windengineID').append(data.windengineID);
        $('#timestamp').append(data.timestamp);
    });
});
</script>
<body>
	<div id="windengineID"></div>
	<div id="timestamp"></div>
</body>
</html>